<h1>Welcome to BookMatch</h1>
<h2>「知らないは、きっと楽しい」
皆さんと本の良き出会いがありますように</h2>

<div>
    <div><%= link_to "Log in", new_user_session_path %></div>
    <div><%= link_to "Sign up", new_user_registration_path %></div>
  </div>
</div>