<h1>レビュー済みの本一覧</h1>

<div class="row">
  <div class="col-md-3">
    <%= render 'public/users/info', user: @user %>
  </div>
  
  <div class="col-md-9">
    <%= render 'public/books/books', books: @books %>
  </div>
</div>

<% if admin_signed_in? %>
  <%= link_to '退会させる', admin_user_path(@user), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
<% end %>